<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <style>
        span {
            width: 100px;
            border: solid;
            display: inline-block;
            text-align: justify;
            text-align-last: justify;
        }

        span:after {
            content: '';
            width: 100%;
            display: inline-block;
            overflow: hidden;
            height: 0;
        }
    </style>
</head>

<body>
<span>
    a a a
</span>
</body>

</html>

